.banner, .footer, .east, .west{ background: rgba(9, 59, 4, 0.86);}
 
.banner, .center, .footer, .east, .west{
	width: 100%;
 	height: 100%;
 }
 
.boby{}
   
.banner{}
 		  
.imgBanner{	margin-left: 0;}

.center{
	width:100%;
	background-image:url('../img/wall1.png');
	
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover;
	 background-size: cover;
	  height: 100%; 
	  width: 100%; 
	   
	  color:#002D16;
	  font-family: Calibri,sans-serif,Verdana,Arial;
}

.window{
	width:100%;
	height:100%;
	background:#CEEAD2;
}

.east{}

.west{}

.footer{ text-align: center;
		 font-size: 15px;
		 font-weight:bold;
		 padding-top: 10px;}
		 
.titulo1{
	font-size: 12pt;
}
.titulo2{
	color: #005e2f;
	font-weight: bold;
	font-size: 12pt;
}
.titulo3{
	color: #008241;
	font-weight: bold;
	font-size: 11pt;
}
.estiloLink{
	color:blue;
	text-decoration:underline;
	font-weight:bold;
	cursor: pointer;
}
		 