@CHARSET "ISO-8859-1";

.titulo{
	color: red;
	font-weight: bold;
}

.tituloBlack{
	color: black;
	font-weight: bold;
	font-size: 2em;
	font-style: italic;
	font-family: "Times New Roman", Arial, Georgia, serif, Times;
}

.requerido{
	color: red;
	font-size: 14pt;
	font-weight: bold;
}

.requerido2{
	color: red;
	font-size: 14pt;
	font-weight: bold;
	background-color: black;
}

.efecto2
{
	width: 300px;
    height: 120px;
    box-shadow: 10px 10px 5px #888888;
}

.cabeza{
	margin-left:-5px;
	background:#eee;
	height:19%;
	position:relative;
}

.miBoton{
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
